<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <link rel="stylesheet" href="/css/admin-user-edit.css">
    <script src="/js/bootstrap/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <script>
        if(<%=session.isClient%>) {
            require('electron').remote.getGlobal('globalVars').RichPresence = {
                details: '관리자 페이지',
                startTimestamp: Date.now(),
                largeImageKey: 'main',
                instance: true
            }
        }
    </script>
    <script>if (window.module) module = window.module;</script>
    <title>유저 관리 - 데이터 수정</title>
</head>

<body>
<h1>유저 관리 - 데이터 수정</h1>
<%-include('./layout/menu')%>
<%-include('./layout/info')%>

<form action="/admin_editaccount" method="post">
    <input type="hidden" name="before_fullID" value="<%=edituser.fullID%>">

    <p>닉네임 : <input type="text" name="nickname" id="input" placeholder="닉네임을 입력해 주세요." value="<%=edituser.nickname%>" required></p>
    <p>이메일(선택 입력) : <input type="email" name="email" id="input" placeholder="이메일을 입력해 주세요." value="<%=edituser.email%>"></p>
    <p>snsID(수정하면 계정에 큰 영향을 미칩니다) : <input type="text" name="snsID" id="input" placeholder="snsID를 입력해 주세요." value="<%=edituser.snsID%>" required></p>
    <p>fullID(수정하면 계정에 큰 영향을 미칩니다) : <input type="text" name="fullID" id="input" placeholder="fullID를 입력해 주세요." value="<%=edituser.fullID%>" required></p>
    <p>provider(수정하면 계정에 큰 영향을 미칩니다) : <input type="text" name="provider" id="input" placeholder="provider를 입력해 주세요." value="<%=edituser.provider%>" required></p>
    <%if(edituser.nick_set) {%>
        <p><label for="nick_set">nick_set(닉네임 최초 설정 여부) : <input type="checkbox" name="nick_set" id="nick_set" value="true" checked></label></p>
    <%} else {%>
        <p><label for="nick_set">nick_set(닉네임 최초 설정 여부) : <input type="checkbox" name="nick_set" id="nick_set" value="true"></label></p>
    <%}%>
    <%if(edituser.allow_email_ad) {%>
        <p><label for="allow_email_ad">홍보 이메일 수신 동의 : <input type="checkbox" name="allow_email_ad" id="allow_email_ad" value="true" checked></label></p>
    <%} else {%>
        <p><label for="allow_email_ad">홍보 이메일 수신 동의 : <input type="checkbox" name="allow_email_ad" id="allow_email_ad" value="true"></label></p>
    <%}%>
    <%if(edituser.block_login) {%>
        <p><label for="block_login">로그인 금지 : <input type="checkbox" name="block_login" id="block_login" value="true" checked></label></p>
    <%} else {%>
        <p><label for="block_login">로그인 금지 : <input type="checkbox" name="block_login" id="block_login" value="true"></label></p>
    <%}%>
    <%if(edituser.admin) {%>
        <p><label for="admin">관리자 : <input type="checkbox" name="admin" id="admin" value="true" checked></label></p>
    <%} else {%>
        <p><label for="admin">관리자 : <input type="checkbox" name="admin" id="admin" value="true"></label></p>
    <%}%>
    <%if(edituser.verified) {%>
        <p><label for="verified">인증됨 : <input type="checkbox" name="verified" id="verified" value="true" checked></label></p>
    <%} else {%>
        <p><label for="verified">인증됨 : <input type="checkbox" name="verified" id="verified" value="true"></label></p>
    <%}%>

    <button class="btn btn-primary" type="submit">저장</button>
</form>
</body>
</html>