<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="/js/bootstrap/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <script>
        if(<%=session.isClient%>) {
            require('electron').remote.getGlobal('globalVars').RichPresence = {
                details: '관리자 페이지',
                startTimestamp: Date.now(),
                largeImageKey: 'main',
                instance: true
            }
        }
    </script>
    <script src="/js/workshop_note.js"></script>
    <link rel="stylesheet" href="/css/comment.css">
    <script>if (window.module) module = window.module;</script>
    <title><%=servername%> - 댓글 투표 관리</title>
</head>

<body>
<h1>댓글 투표 관리</h1>
<%-include('./layout/menu')%>
<%-include('./layout/info')%>

<%comments.forEach(async comment => {%>
<%if(!comment.dontshow) {%>
<%if(comment.user.admin) {%>
<div id="comment_<%=comment.id%>" class="comment card admin-comment">
        <%} else {%>
        <div id="comment_<%=comment.id%>" class="comment card">
            <%}%>
            <div class="card-header"><a class="text-dark" href="/profile?id=<%=comment.writer%>"><%=comment.user.nickname%></a> <%if(comment.user.verified) {%><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle-fill text-secondary" fill="currentColor" xmlns="http://www.w3.org/2000/svg" data-container="body" data-toggle="popover" data-placement="top" data-content="인증된 유저" data-trigger="hover">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg><%}%></div>
            <div class="card-body">
                <%if(comment.pin) {%>
                <h5 class="text-secondary"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
                        <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
                    </svg><a class="text-secondary" href="/profile?id=<%=comment.pin_by%>"><%=comment.pinuser.nickname%></a>님이 고정함</h5>
                <%}%>
                <a href="/profile?id=<%=comment.writer%>"><img class="avatar" src="<%=comment.avatar%>"></a>
                <h5 class="card-text comment-text"><%=comment.text%></h5>
                <p class="comment-text"><%=comment.createdAt.toLocaleString()%></p>
                <div id="<%=comment.id%>_like_button" class="comment-like-click" data-comment="<%=comment.id%>">
                    <%if(comment.like) {%>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-hand-thumbs-up comment-like" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.956 1.745C7.02.8 7.908.087 8.864.325l.26.066c.463.116.874.456 1.012.965.22.816.533 2.51.062 4.5a9.84 9.84 0 0 1 .443-.051c.713-.065 1.67-.072 2.516.2.518.173.994.68 1.2 1.273.184.532.16 1.162-.234 1.733.058.12.103.242.138.363.077.27.113.567.113.856s-.036.586-.113.856c-.04.135-.1.273-.16.404.17.387.107.82-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.09.625-.253.912C13.1 15.522 12.437 16 11.5 16v-1c.563 0 .9-.272 1.066-.56a.865.865 0 0 0 .121-.416c0-.12-.035-.165-.04-.17l-.354-.354.353-.354a2.22 2.22 0 0 0 .505-.804c.104-.312.043-.44-.005-.488l-.353-.354.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.58s-.027-.414-.075-.58c-.05-.174-.11-.273-.154-.315L12.793 9l.353-.354c.353-.352.373-.713.267-1.02-.122-.35-.396-.593-.57-.652-.653-.217-1.447-.224-2.1-.164a8.907 8.907 0 0 0-1.094.171l-.014.003-.003.001a.5.5 0 0 1-.595-.643 8.34 8.34 0 0 0 .145-4.726c-.03-.11-.128-.215-.288-.255l-.262-.065c-.306-.077-.642.156-.667.518-.075 1.082-.24 2.15-.482 2.85-.174.502-.603 1.268-1.238 1.977S4.715 8.05 3.62 8.35C3.226 8.457 3 8.745 3 9V13c0 .26.22.515.553.55 1.293.137 1.936.53 2.49.868l.04.025c.27.164.495.296.776.393S7.5 15 8 15h3.5v1H8c-.605 0-1.07-.08-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-1-.61-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.85-.232 1.574-.787 2.132-1.4s.914-1.28 1.04-1.64c.2-.575.356-1.54.428-2.6v-.001z" fill-rule="evenodd"/><g stroke-width="1.5" stroke="#000" fill="none"><path d="M8.668 1.617c0 .03-.046.183-.062.28-.01.06 0 .093 0 .124s-.03.03-.03.062v.093c0 .03.022.07 0 .093s-.03.03-.03.062v.404c0 .062-.012.096 0 .124a.39.39 0 0 1 .031.124v.404c0 .03.03.03.062.03s.02-.033.03-.062c.017-.04.04-.04.062-.062s-.01-.084-.03-.062-.01.072-.062.155c-.023.037-.055.063-.062.093-.016.068-.016.156-.03.248l-.03.155c-.016.068-.016.094-.03.186s-.062.124-.062.186-.03.062-.03.093-.01.04-.03.062 0 .062 0 .093-.027.062-.03.093c-.016.127-.046.183-.062.28-.005.03-.013.093.03.093s.01-.07.03-.093.01-.04.03-.062.017-.033.03-.093c.016-.068.03-.093.03-.124s.01-.04.03-.062-.012-.064 0-.093c.017-.04.055-.094.062-.124.016-.068.05-.096.062-.124.017-.04.03-.062.03-.03s0 .093.03.124.03.062.03.093v.186c0 .03.007.063 0 .093-.016.068-.03.124-.03.186v.31c0 .062-.015.12-.03.186-.007.03 0 .062 0 .093s.02.064 0 .186c-.016.097-.138.263-.186.466-.014.06-.014.158.03.342.024.095.062.155.062.248 0 .062-.012.127 0 .155a.39.39 0 0 1 .031.124v.155c0 .093.04.133.062.155.044.044.093 0 .155 0s.096.02.186 0c.068-.016.093-.03.124-.03h.124c.062 0 .102-.01.124-.03s.057-.015.124-.03c.06-.014.125.005.155 0l.186-.03c.03 0 .124-.03.155-.03h.124c.03 0 .094-.005.124 0 .194.03.34.11.466.124.092.01.124 0 .186 0s.093-.03.124-.03h.435c.062 0 .156.026.186.03.097.016.25.055.28.062.068.016.093.03.124.03h.093c.03 0 .046.005.062.03.037.06.067.058.093.093.04.056.07.084.155.155.034.028.063.022.093.03.107.032.236.08.28.124.022.022-.014.053-.03.093-.012.03-.02.033-.03.062-.017.04-.045.053-.062.093-.012.03-.03.062-.03.093v.155c0 .03-.02.033-.03.062-.017.04-.045.053-.062.093-.012.03-.033.05-.062.062-.04.017-.076.053-.093.093-.012.03-.03.062-.03.093V8.8c0 .124-.03.217-.03.28v.404c0 .03.014.053.03.093.012.03.03.062.03.093s.014.053.03.093c.012.03.037.053.093.093.036.026.124.062.186.062.03 0 .062 0 .062.03s-.046.24-.093.683c-.007.062 0 .124 0 .155v.186c0 .093-.03.124-.03.155s-.03.036-.093.062c-.09.038-.102.102-.124.124s-.046.026-.062.093c-.007.03 0 .062 0 .093v.435c0 .03.014.053.03.093.012.03-.012.064 0 .093.017.04.058.046.155.062.03.005.03.03.03.093 0 .03 0 .062.03.062s.016.026 0 .093a.54.54 0 0 1-.031.093c-.012.03.005.063 0 .093-.016.097-.062.155-.062.186 0 .062-.03.186-.03.217v.217c0 .03.012.096 0 .124-.017.04-.045.053-.062.093-.012.03-.04.04-.062.062s-.03.03-.062.03-.093.03-.124.03-.064.02-.093.03c-.04.017-.055.094-.062.124-.016.068-.046.088-.062.155-.014.06 0 .093 0 .124 0 .062 0 .093-.03.124s-.01.07-.03.093-.062.03-.093.03-.053.014-.093.03c-.03.012-.053.045-.093.062-.03.012-.094-.005-.124 0l-.155.03c-.04.017-.13.007-.186.03-.04.017-.062.03-.186.03-.093 0-.186.03-.217.03s-.068-.01-.124.03c-.036.026-.063.024-.093.03l-.217.062c-.04.017-.063.026-.093.03-.097.016-.184.078-.373.093l-.28.03c-.062 0-.155.03-.186.03h-.186c-.03 0-.053.014-.093.03-.086.036-.217 0-.31 0s-.205-.044-.248 0c-.022.022-.03.03-.062.03h-.62c-.093 0-.155-.03-.186-.03s-.093-.03-.124-.03-.062-.03-.093-.03-.064-.02-.093-.03c-.04-.017-.093-.062-.155-.093s-.102-.07-.124-.093-.062 0-.093 0-.053-.045-.093-.062c-.057-.024-.102-.04-.124-.062s-.075.001-.186-.062c-.038-.022-.056-.04-.093-.062-.084-.052-.102-.04-.124-.062-.044-.044-.11.013-.155-.03-.022-.022-.07-.04-.093-.062s-.072-.042-.155-.093l-.28-.186c-.04-.017-.068-.022-.124-.062-.036-.026-.053-.045-.093-.062-.03-.012-.053-.042-.124-.093a.85.85 0 0 0-.248-.124c-.03-.01-.054-.01-.093-.03-.168-.086-.282-.05-.31-.062-.04-.017-.093-.03-.155-.03-.093 0-.124-.03-.155-.03s-.063-.024-.093-.03c-.068-.016-.093-.03-.124-.062s-.064-.05-.093-.062c-.04-.017-.045-.053-.062-.093-.012-.03-.014-.053-.03-.093-.012-.03-.007-.036-.03-.093-.017-.04-.043-.122-.124-.155-.03-.012-.064-.02-.093-.03-.04-.017-.062-.03-.062 0s.026.03.03.062c.016.097.064.167.093.155.04-.017.068-.125.062-.186l-.03-.435v-.87c-.016-.097-.04-.133-.062-.155s-.01-.04-.03-.062.01-.125 0-.217c-.016-.127-.062-.217-.062-.28s-.045-.115-.062-.155c-.012-.03 0-.062 0-.093v-.124c0-.03.014-.053.03-.093.024-.057 0-.124 0-.155s.024-.063.03-.093c.016-.068.007-.098.03-.155.017-.04.03-.124.03-.217 0-.03.005-.058.03-.093.04-.056.055-.125.062-.155.016-.068.04-.07.062-.093s.01-.04.03-.062.03-.062.062-.093.04-.084.062-.062-.03.03-.062.03h-.124c-.03 0-.12.015-.217.03-.03.005-.155-.093-.155 0 0 .03.12-.015.217-.03.06-.01.084-.045.124-.062.057-.024.16-.018.28-.062.13-.048.223-.084.28-.124.036-.026.1-.084.155-.124.07-.05.093-.124.093-.155s-.007-.063 0-.093c.016-.068.03-.093.03-.124s-.026-.046-.093-.062c-.06-.014.084-.014.124-.03.03-.012.062-.03.093-.03s.064-.02.217-.062l.217-.062c.068-.016.126-.027.186-.062.097-.056.186-.093.248-.124s.107-.022.124-.062c.012-.03.03-.062.03-.093s0-.062-.03-.093-.072-.045-.03-.062c.03-.012.152-.065.186-.093.087-.07.15-.126.186-.186.056-.097.124-.124.155-.155s.058-.036.093-.062c.056-.04.062-.062.062-.124 0-.03.01-.04.03-.062s.093-.062.124-.093.07-.102.093-.124c.044-.044.036-.09.062-.124.04-.056.034-.12.093-.155.026-.016.03-.03.03-.062s.01-.04.062-.124c.023-.037.04-.07.062-.093s.062-.062.093-.124.04-.07.062-.093.033-.02.062-.03c.04-.017.04-.07.062-.093s.01-.04.03-.062.07.006.124-.093c.015-.027.02-.033.03-.062.017-.04.055-.094.062-.124.016-.068.05-.096.062-.124.017-.04.084-.13.124-.186.05-.07.055-.094.062-.124.032-.135.107-.177.124-.217.012-.03-.007-.063 0-.093.016-.068.045-.115.062-.155.024-.057.005-.09.03-.124.04-.056.042-.165.093-.248.023-.037.062-.093.062-.124s.045-.053.062-.093c.024-.057.02-.096.03-.124.017-.04.1-.092.217-.124l.093-.03c.04-.017.053-.053.03-.03-.044.044-.043.064-.03.093.017.04.15.065.186.124.016.026.014.053.03.093.012.03.022.1.062.155.026.036.074.064.062.093-.017.04-.076.053-.093.093l-.093.217a.94.94 0 0 1-.155.248c-.028.034-.044.096-.062.155-.032.107-.076.15-.124.28-.044.12-.072.22-.093.31-.032.135-.124.248-.186.435s-.053.313-.124.56l-.186.56c-.067.216-.093.342-.124.373-.062.062-.084.1-.124.155-.026.036-.093.093-.124.124-.062.062-.192.115-.248.155-.07.05-.157.184-.28.28-.347.272-.747.53-.963.807-.11.143-.112.158-.124.186-.067.162-.308.283-.342.31-.087.07-.143.158-.155.186-.017.04-.092.064-.28.217-.154.126-.264.307-.28.404-.005.03 0 .062 0 .093v.124c0 .124-.004.313.03.373.056.097.075.168.124.217l.248.248a1.51 1.51 0 0 1 .186.248c.097.153.256.333.404.466.033.03.076.022.093.062.012.03.01.07.03.093s.03.03 0 .03c-.093 0-.247-.015-.435-.03-.03-.003-.09-.037-.186-.062-.153-.04-.204-.025-.186 0 .115.16.49.176.9.28.307.078.394.11.56.186a1.11 1.11 0 0 0 .311.093c.186.034.37.07.497.124a1.81 1.81 0 0 0 .404.124c.03.005.062.03.124.03.093 0 .223.042.373.093.197.068.32.2.466.248.118.04.155.03.217.062s.2.08.31.124c.13.048.164.07.186.093s0 .056.062.062c.158.016.6.124.932.124.31 0 .472.01.528-.03.036-.026.022-.1.062-.155.026-.036.06-.036.124-.062.09-.038.192-.09.217-.124.04-.056.03-.093.062-.155s.048-.126.062-.186l.062-.248c.036-.123.093-.404.093-.6l-.03-.714c-.013-.186 0-.31 0-.435 0-.155-.015-.34-.03-.497s.035-.31.062-.404c.036-.123.067-.318.124-.466l.186-.435c.024-.065.062-.155.062-.217 0-.093.015-.156 0-.28s-.124-.28-.186-.404c-.03-.062-.13-.115-.186-.155-.07-.05-.193-.135-.31-.186-.102-.045-.124-.062-.217-.062-.03 0-.062 0-.062.062 0 .03-.03.155-.03.31 0 .062-.007.343.03.528.026.125.03.155.03.217 0 .155 0 .31-.03.404-.062.186-.11.247-.124.497-.004.062-.04.275-.093.404-.075.18-.09.405-.155.652-.058.218-.078.36-.124.435-.052.084-.078.37-.093.56l-.03.248c0 .03.012.064 0 .093-.017.04-.03.062-.03.093s-.03.03-.03.062-.005.046-.03.062c-.06.037-.128.11-.248.155-.065.024-.16.053-.217.093-.07.05-.198.105-.31.186-.07.05-.124.155-.155.186-.093.093-.137.168-.186.217-.098.098-.248.062-.435.155a.79.79 0 0 1-.217.062c-.03 0-.053.014-.093.03-.03.012-.093 0-.186.03s-.146.076-.186.093c-.057.024-.062.03-.093.03h-.124c-.062 0-.196-.1-.373-.31-.363-.412-.644-.628-.807-.807a1.43 1.43 0 0 1-.311-.528c-.058-.188-.093-.404-.093-.6 0-.093-.03-.242-.062-.466-.026-.185-.02-.35.03-.435.023-.037.053-.107.093-.124.057-.024.126-.05.248-.03.194.03.525.253.994.528.216.127.65.286.994.342.217.035.467.026.6.062.094.027.115.038.186.124.11.136.248.177.28.342.03.152-.06.285-.155.31-.153.04-.444-.032-1.366-.31-.67-.202-1.02-.17-1.118-.186-.03-.005-.037-.04 0-.062.084-.052.24-.14.373-.342.152-.232.284-.55.342-.9.086-.522.016-.68 0-.84-.01-.093-.022-.13-.062-.186-.026-.036-.093-.062-.124-.062s-.18-.108-.62-.155c-.093-.01-.06-.02-.03-.03.04-.017.124-.064.28-.124.247-.096.515-.275.807-.404.1-.04.03-.052-.062-.03-.068.016.096.038.186 0 .192-.08.406-.214.652-.373.188-.12.336-.158.373-.217.016-.026.03-.03.124-.03h.217c.03 0 .04.03.03.155L9.35 9.38c0 .31.038.408.062.466.017.04.04.1 0 .155-.05.07-.078.12-.093.248s0 .21.062.217c.158.016.325-.014.404-.093s.138-.18.217-.373l.435-1.15c.11-.255.124-.373.062-.373h-.248c-.03 0-.15.042-.31.124l-.404.217c-.087.07-.204.288-.31.435l-.497.714-.217.404c-.07.112-.116.134-.217.217-.087.07-.212.2-.28.217-.03.007-.062 0-.124 0-.124 0-.313.01-.56-.062-.377-.1-.828-.365-1.335-.6l-.87-.404c-.12-.044-.27-.124-.435-.155l-.186-.03c-.127-.016-.25-.06-.28-.062l-.497-.062c-.062-.008-.053-.01-.03-.03l.062-.062c.022-.022.03-.03.03-.062h.03v-.03" stroke-opacity="NaN"/><path d="M8.512 2.58c0-.03.022-.068.062-.124.026-.036.03-.155.03-.248V2.02c0-.03.01-.04.03-.062.132-.132 0-.248 0-.28s.024-.125.03-.155c.016-.068.005-.065-.03-.124-.016-.026-.046-.03-.03.062s.062.217.093.248v.03m.716.28c-.03.062-.022.187-.03.28l-.03.28v.248c0 .03.015.063 0 .155s-.062.155-.062.186v.373" stroke-opacity="NaN"/><path d="M9.63 3.387c-.03.062-.046.196-.093.3-.017.04-.032.086-.062.093-.068.016-.124.062-.186.093h-.03m-.995-1.335l-.217.404c-.035.06-.067.15-.093.186-.04.056-.027.214-.093.28L7.8 3.48l-.03.062m5.31 3.82a2.22 2.22 0 0 1 .155.373.7.7 0 0 0 .093.217.14.14 0 0 1 .03.093v.466M2.86 10.964v.155c0 .062.03.155.03.186 0 .062.03.186.062.342s.093.24.124.404c.012.06.03.093.03.155v.28h-.03v.03m.374-3.974c.03-.062.084-.13.124-.186.026-.036.03-.062.062-.093v-.03L3.7 8.17"/></g>
                        </svg>
                    <%} else {%>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-hand-thumbs-up comment-like" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16v-1c.563 0 .901-.272 1.066-.56a.865.865 0 0 0 .121-.416c0-.12-.035-.165-.04-.17l-.354-.354.353-.354c.202-.201.407-.511.505-.804.104-.312.043-.441-.005-.488l-.353-.354.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315L12.793 9l.353-.354c.353-.352.373-.713.267-1.02-.122-.35-.396-.593-.571-.652-.653-.217-1.447-.224-2.11-.164a8.907 8.907 0 0 0-1.094.171l-.014.003-.003.001a.5.5 0 0 1-.595-.643 8.34 8.34 0 0 0 .145-4.726c-.03-.111-.128-.215-.288-.255l-.262-.065c-.306-.077-.642.156-.667.518-.075 1.082-.239 2.15-.482 2.85-.174.502-.603 1.268-1.238 1.977-.637.712-1.519 1.41-2.614 1.708-.394.108-.62.396-.62.65v4.002c0 .26.22.515.553.55 1.293.137 1.936.53 2.491.868l.04.025c.27.164.495.296.776.393.277.095.63.163 1.14.163h3.5v1H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                        </svg>
                    <%}%>
                </div>
                <div id="like_count_<%=comment.id%>">좋아요 : <%=comment.like_count%></div>
                <div id="<%=comment.id%>_heart_button" class="heart-button-click" data-comment="<%=comment.id%>">
                    <%if(comment.heart) {%>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill heart-button heart-on text-danger" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                    <img class="heart-avatar" src="<%=comment.heart_avatar%>">
                    <%} else if(logined && (user.admin)) {%>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart heart-button heart-off" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                        </svg>
                    <%}%>
                </div>
                <br><button class="btn btn-primary" onclick="copyToClipboard(`${location.href}#comment_<%=comment.id%>`)" data-container="body" data-toggle="popover" data-placement="top" data-content="복사되었습니다!">댓글 주소 복사</button>
                <%if(logined && (user.admin || user.fullID)) {%>
                <%if(comment.pin) {%>
                <a class="btn btn-primary" href="/workshop/note/unpincomment?comment=<%=comment.id%>">이 댓글 고정 해제</a>
                <%} else {%>
                <a class="btn btn-primary" href="/workshop/note/pincomment?comment=<%=comment.id%>">이 댓글 고정</a>
                <%}%>
                <%}%>
                <%if(logined && (user.fullID == comment.writer)) {%>
                <a class="btn btn-danger" href="/workshop/note/removecomment?comment=<%=comment.id%>">이 댓글 삭제</a>
                <%} else if(logined && user.admin) {%>
                <a class="btn btn-danger" href="/workshop/note/removecomment?comment=<%=comment.id%>">관리자 권한으로 이 댓글 삭제(남은 필요 투표 수 : <%=comment_delete_required_count - comment.delete_count%>)</a>
                <%}%>
                <%if(logined && user.admin) {%>
                <a class="btn btn-danger" href="/workshop/note/cancelallvotecomment?comment=<%=comment.id%>">이 댓글 삭제 투표 모두 삭제</a>
                <%}%>
            </div>
        </div>
        <%}%>
        <%});%>
</body>
</html>