<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="/js/bootstrap/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <script src="/js/editor.js"></script>
    <link rel="stylesheet" href="/css/game.css">
    <link rel="stylesheet" href="/css/editor.css">
    <title><%=servername%> - 에디터</title>
    <script>
        isClient = <%=session.isClient || false%>;
        note_file = `<%-note_file%>`;
        note_name = `<%=query.name%>`;
        startpos = <%=query.startpos || 0%>;
        pitch = <%=query.pitch || 100%>;
        autoplay = <%=query.autoplay || true%>;
        unsafe_mode = <%=query.unsafe || false%>;
    </script>
</head>

<body>
<%-include('./layout/friend')%>
<div id="note_check_line"></div>
<div id="game_line"></div>
<div id="note_1_area" class="note_area"><div id="note_area_background_1" class="note_area_background"></div></div>
<div id="note_2_area" class="note_area"><div id="note_area_background_2" class="note_area_background"></div></div>
<div id="note_3_area" class="note_area"><div id="note_area_background_3" class="note_area_background"></div></div>
<div id="note_4_area" class="note_area"><div id="note_area_background_4" class="note_area_background"></div></div>
<div id="note_5_area" class="note_area"><div id="note_area_background_5" class="note_area_background"></div></div>
<div id="note_6_area" class="note_area"><div id="note_area_background_6" class="note_area_background"></div></div>
<div id="note_7_area" class="note_area"><div id="note_area_background_7" class="note_area_background"></div></div>
<div id="note_8_area" class="note_area"><div id="note_area_background_8" class="note_area_background"></div></div>

<div id="tools">
    <h4 class="tool">기본적으로 자동 저장을 지원합니다. <s>불안하면 저장 누르세요</s></h4>
    <div id="buttons" class="tool">
        <button id="Play" class="btn btn-primary">플레이하기</button>
        <button id="Save" class="btn btn-primary">저장</button>
        <button id="Exit" class="btn btn-primary">채보 목록으로 돌아가기</button>
    </div>

    <div id="controller" class="tool">
        <h4>시간 설정</h4>
        <button id="DecreaseTime">-</button>
        <input id="InputTime" type="number" value="<%=query.startpos || 0%>" placeholder="시간">
        <button id="IncreaseTime">+</button>

        <h4>플레이시 피치 설정</h4>
        <input id="InputPitch" type="number" value="<%=query.pitch || 100%>" placeholder="피치">

        <p><label for="autoplay"><input type="checkbox" id="autoplay"> 자동 플레이</label></p>
        <p><label for="unsafe_mode" data-container="body" data-toggle="popover" data-placement="bottom" data-content="서명되지 않은 효과 스크립트를 실행합니다. 문장의 뜻을 이해할 수 없다면 체크하지 마세요." data-trigger="hover"><input type="checkbox" id="unsafe_mode"> 비보호 모드</label></p>

        <textarea id="InputScript" class="editscript" placeholder="스크립트를 입력하세요." hidden></textarea>
        <br><button id="SaveScript" class="btn btn-primary editscript" hidden>스크립트 적용</button>
        <button id="HideScriptSetting" class="btn btn-primary editscript" hidden>닫기(저장하지 않음)</button>
    </div>

    <div id="help" class="tool">
        <button id="help_button" class="btn btn-primary">도움말 보이기/숨기기</button>
        <div id="help_area" hidden>
            <h4>단축키</h4>
            <h6>P : 플레이하기(저장 포함)</h6>
            <h6>ESC : (플레이 중) 에디터로 돌아오기</h6>
            <h6>Ctrl + S : 저장</h6>
            <h6>- : 시간 설정 -100ms</h6>
            <h6>+ : 시간 설정 +100ms</h6>

            <h4>제작 방법</h4>
            <h6>채보 영역 빈공간 좌클릭 : 새 노트 설치</h6>
            <h6>노트 좌클릭 : 해당 노트 삭제</h6>
            <h6>채보 영역 빈공간 우클릭 : 새 이펙트(멀티플레이에서 작동하려면 관리자 승인 필요)</h6>
            <h6>채보 영역 이펙트 선 좌클릭 : 이펙트 삭제</h6>
            <h6>채보 영역 이펙트 선 우클릭 : 이펙트 JS 명령 수정</h6>
        </div>
    </div>
</div>
</body>
</html>