<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="/js/bootstrap/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <style>
        * {
            margin-left: 1px;
        }
    </style>
    <script>
        if(<%=session.isClient%>) {
            require('electron').remote.getGlobal('globalVars').RichPresence = {
                details: '채보 목록 보는 중',
                startTimestamp: Date.now(),
                largeImageKey: 'main',
                instance: true
            }
        }
    </script>
    <script>if (window.module) module = window.module;</script>
    <title><%=servername%> - 채보 관리</title>
</head>

<body>
<h1>채보 관리</h1>
<%-include('./layout/menu')%>
<%-include('./layout/info')%>

<h4>.rhythmcraft 확장자의 파일을 업로드하세요.</h4>

<form action="/uploadnote" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="InputFile">채보 업로드</label>
        <input type="file" name="file" class="form-control-file" id="InputFile" required>
    </div>
    <button type="submit" class="btn btn-primary">업로드</button>
</form>

<hr>

<%files.forEach(file => {%>
    <h4>
        <%=file.originalname%>
        <br><a href="/testnote?note=<%=encodeURI(file.name)%>&startpos=0&singleplay=true">채보 플레이</a>
        <%if(!file.name.includes('.signedrhythmcraft')) {%>
        <br><a href="/editor?name=<%=encodeURI(file.name)%>">채보 에디터</a>
        <%}%>
        <br>
        <%if(file.public) {%>
        <a href="/notestatus?name=<%=encodeURI(file.name)%>&public=false" style="color: red;">채보 비공개</a>
        <%} else {%>
        <a href="/notestatus?name=<%=encodeURI(file.name)%>&public=true">채보 공개</a>
        <%}%>
        <br><a href="/downloadnote?name=<%=encodeURI(file.name)%>">채보 다운로드</a>
        <br><a href="/removenote?name=<%=encodeURI(file.name)%>">채보 삭제</a>
        <%if(user.admin && !file.name.includes('.signedrhythmcraft')) {%>
        <br><a href="/signnotetext?name=<%=encodeURI(file.name)%>&originalname=<%=encodeURI(file.originalname)%>">채보 서명</a>
        <%}%>
        <%if(file.name.includes('.signedrhythmcraft')) {%>
            <br><a href="/unsignnote?name=<%=encodeURI(file.name)%>&originalname=<%=encodeURI(file.originalname)%>">채보 서명 해제</a>
        <%}%>

        <form action="/editnotedescription" method="post">
            <input type="hidden" name="name" value="<%=file.name%>">
            <div class="form-group">
                <br><label for="InputTitle">창작마당 표시 제목 수정</label>
                <br><textarea name="title" id="InputTitle" class="form-control" placeholder="창작마당 표시 제목"><%=file.workshop_title%></textarea>
            </div>
            <div class="form-group">
                <br><label for="InputDescription">채보 설명 수정</label>
                <br><textarea name="description" id="InputDescription" class="form-control" placeholder="창작마당 표시 설명"><%=file.description%></textarea>
            </div>

            <button type="submit" class="btn btn-primary">채보 정보 적용</button>
        </form>
    </h4>
<hr>
<%});%>
</body>
</html>