<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="/js/bootstrap/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <style>
        * {
            margin-left: 1px;
        }
    </style>
    <script src="/js/manage_note.js"></script>
    <script>
        isClient = <%=session.isClient || false%>;
    </script>
    <script>if (window.module) module = window.module;</script>
    <title><%=servername%> - 채보 관리</title>
</head>

<body>
<h1>채보 관리</h1>
<%-include('./layout/menu')%>
<%-include('./layout/info')%>

<h4>.rhythmcraft 확장자의 파일을 업로드하세요.</h4>

<form action="/uploadnote" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="InputFile">채보 업로드</label>
        <input type="file" name="file" class="form-control-file" id="InputFile" required>
    </div>
    <button type="submit" class="btn btn-primary">업로드</button>
</form>

<hr>
<form action="/note" method="get">
    <input type="hidden" name="lucky_play" id="lucky_play" value="false">
    <div class="form-group">
        <label for="InputSearch">검색어 입력, 검색어 입력 후 Ctrl+P로 첫 검색 결과 즉시 플레이</label>
        <input type="text" id="InputSearch" class="form-control" name="search" placeholder="검색어를 입력하세요." value="<%=query.search%>">
    </div>

    <button id="submit_search" type="submit" class="btn btn-primary">검색</button>
</form>
<hr>

<%files.forEach(file => {%>
    <h4>
        <%=file.originalname%>
        <br><a href="/testnote?note=<%=encodeURI(file.name)%>&startpos=0&singleplay=true">채보 플레이</a>
        <%if(!file.name.includes('.signedrhythmcraft')) {%>
        <br><a href="/editor?name=<%=encodeURI(file.name)%>">채보 에디터</a>
        <%}%>
        <br>
        <%if(file.public) {%>
        <a href="/notestatus?name=<%=encodeURI(file.name)%>&public=false" style="color: red;">채보 비공개</a>
        <%} else {%>
        <a href="/notestatus?name=<%=encodeURI(file.name)%>&public=true">채보 공개</a>
        <%}%>
        <br><a href="/downloadnote?name=<%=encodeURI(file.name)%>">채보 다운로드</a>
        <br><a href="/removenote?name=<%=encodeURI(file.name)%>">채보 삭제</a>
        <%if(user.admin && !file.name.includes('.signedrhythmcraft')) {%>
        <br><a href="/signnotetext?name=<%=encodeURI(file.name)%>&originalname=<%=encodeURI(file.originalname)%>">채보 서명</a>
        <%}%>
        <%if(file.name.includes('.signedrhythmcraft')) {%>
            <br><a href="/unsignnote?name=<%=encodeURI(file.name)%>&originalname=<%=encodeURI(file.originalname)%>">채보 서명 해제</a>
        <%}%>

        <form action="/editnoteinfo" method="post">
            <input type="hidden" name="name" value="<%=file.name%>">
            <div class="form-group">
                <br><label for="InputTitle">창작마당 표시 제목 수정</label>
                <br><textarea name="title" id="InputTitle" class="form-control" placeholder="창작마당 표시 제목"><%=file.workshop_title%></textarea>
            </div>
            <div class="form-group">
                <br><label for="InputDescription">채보 설명 수정</label>
                <br><textarea name="description" id="InputDescription" class="form-control" placeholder="창작마당 표시 설명"><%=file.description%></textarea>
            </div>
            <h4>태그 선택</h4>
            <%for(let i in allowed_tags) {%>
            <%let using_tags = file.tags || [];%>
            <div class="form-check">
                <%if(using_tags.indexOf(allowed_tags[i]) != -1) {%>
                <input name="tags" class="form-check-input" type="checkbox" value="<%=allowed_tags[i]%>" id="<%=file.name%>_tag_<%=i%>" checked>
                <%} else {%>
                <input name="tags" class="form-check-input" type="checkbox" value="<%=allowed_tags[i]%>" id="<%=file.name%>_tag_<%=i%>">
                <%}%>
                <label class="form-check-label" for="<%=file.name%>_tag_<%=i%>"><%=allowed_tags[i]%></label>
            </div>
            <%}%>

            <br><button type="submit" class="btn btn-primary">채보 정보 적용</button>
        </form>
    </h4>
<hr>
<%});%>
</body>
</html>