<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="/js/bootstrap/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/mypage.css">
    <script src="/js/mypage.js"></script>
    <script>
        if(<%=session.isClient || false%>) {
            require('electron').remote.getGlobal('globalVars').RichPresence = {
                details: '프로필 수정 중',
                startTimestamp: Date.now(),
                largeImageKey: 'main',
                instance: true
            }
        }
        game_skin_value = "<%=user.game_skin%>";
    </script>
    <title><%=servername%> - 마이페이지</title>
</head>

<body>
<h1>마이페이지</h1>
<%-include('./layout/menu')%>
<%-include('./layout/info')%>
<%-include('./layout/friend')%>

<%if(!user.nick_set) {%>
<h2>소셜 로그인으로 첫 가입시 닉네임을 설정해야 활동할 수 있습니다.</h2>
<%}%>
<form action="/editaccount" method="post">
    <p>닉네임 : <input type="text" id="InputNickname" name="nickname" value="<%=user.nickname%>" placeholder="닉네임을 입력해 주세요. 다른 사람과 중복될 수 없습니다." required></p>
    <%if(user.allow_email_ad) {%>
        <p><label for="allow_email_ad">홍보 이메일 수신 동의 : <input type="checkbox" name="allow_email_ad" id="allow_email_ad" value="true" checked></label></p>
    <%} else {%>
        <p><label for="allow_email_ad">홍보 이메일 수신 동의 : <input type="checkbox" name="allow_email_ad" id="allow_email_ad" value="true"></label></p>
    <%}%>

    게임 키 1 : <input type="text" id="InputKey1" class="setkey" name="InputKey1" value="<%=user.rhythm_key_1%>" placeholder="1번 키">
    <br>게임 키 2 : <input type="text" id="InputKey2" class="setkey" name="InputKey2" value="<%=user.rhythm_key_2%>" placeholder="2번 키">
    <br>게임 키 3 : <input type="text" id="InputKey3" class="setkey" name="InputKey3" value="<%=user.rhythm_key_3%>" placeholder="3번 키">
    <br>게임 키 4 : <input type="text" id="InputKey4" class="setkey" name="InputKey4" value="<%=user.rhythm_key_4%>" placeholder="4번 키">
    <br>게임 키 5 : <input type="text" id="InputKey5" class="setkey" name="InputKey5" value="<%=user.rhythm_key_5%>" placeholder="5번 키">
    <br>게임 키 6 : <input type="text" id="InputKey6" class="setkey" name="InputKey6" value="<%=user.rhythm_key_6%>" placeholder="6번 키">
    <br>게임 키 7 : <input type="text" id="InputKey7" class="setkey" name="InputKey7" value="<%=user.rhythm_key_7%>" placeholder="7번 키">
    <br>게임 키 8 : <input type="text" id="InputKey8" class="setkey" name="InputKey8" value="<%=user.rhythm_key_8%>" placeholder="8번 키">
    <br><br>
    <%if(user.show_accurary_center) {%>
        <p><label for="show_accurary_center">게임 중 정확도 중앙에 표시 : <input type="checkbox" name="show_accurary_center" id="show_accurary_center" value="true" checked></label></p>
    <%} else {%>
        <p><label for="show_accurary_center">게임 중 정확도 중앙에 표시 : <input type="checkbox" name="show_accurary_center" id="show_accurary_center" value="true"></label></p>
    <%}%>

    <br>

    <div class="form-group">
        <label for="InputGameSkin">게임 스킨</label>
        <select name="game_skin" class="form-control" id="InputGameSkin" required>
            <option value="no_skin">없음</option>
            <option value="custom_skin">커스텀</option>
            <%game_skins.forEach(skin => {%>
            <option value="<%=skin%>"><%=skin%></option>
            <%});%>
        </select>
    </div>

    <div class="form-group" id="input_custom_skin" hidden>
        <label for="CustomGameSkin">커스텀 게임 스킨</label>
        <textarea id="CustomGameSkin" name="custom_game_skin" class="form-control" placeholder="커스텀 게임 스킨 CSS를 입력하세요."><%=user.custom_game_skin%></textarea>
    </div>

    <br><br><input class="btn btn-primary" type="submit" value="저장">
</form>
<br>
<a class="btn btn-primary" href="/change_email">이메일 주소 변경</a>
<br><br>
<a class="btn btn-primary" href="/upload_avatar">프로필 사진 변경</a>
<br><br><a class="btn btn-primary" href="/change_password?from_mypage=true">비밀번호 변경</a>
</body>
</html>