<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="/js/bootstrap/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <script>
        if(<%=session.isClient || false%>) {
            require('electron').remote.getGlobal('globalVars').RichPresence = {
                details: '상점 아이템 추가',
                startTimestamp: Date.now(),
                largeImageKey: 'main',
                instance: true
            }
        }
    </script>
    <script>if (window.module) module = window.module;</script>
    <title><%=servername%> - 상점 아이템 추가</title>
</head>

<body>
<h1>상점 아이템 추가</h1>
<%-include('./layout/menu')%>
<%-include('./layout/info')%>
<%-include('./layout/friend')%>

<form action="/newitem" method="post">
    <div class="form-group">
        <label for="InputName">아이템 이름</label>
        <input type="text" id="InputName" class="form-control" name="title" placeholder="아이템 이름을 입력하세요." required>
    </div>
    <div class="form-group">
        <label for="InputDescription">아이템 설명</label>
        <textarea id="InputDescription" class="form-control" name="description" placeholder="아이템 설명을 입력하세요." required></textarea>
    </div>
    <div class="form-group">
        <label for="InputPrice">아이템 가격</label>
        <input type="number" id="InputPrice" class="form-control" name="price" placeholder="아이템 가격을 입력하세요." value="1000" required>
    </div>
    <div class="form-group">
        <label for="InputType">아이템 타입</label>
        <input type="text" id="InputType" class="form-control" name="type" placeholder="아이템 타입을 입력하세요." required>
    </div>
    <div class="form-group">
        <label for="InputImageName">아이템 에셋 이미지명(필수 아님)</label>
        <input type="text" id="InputImageName" class="form-control" name="image_name" placeholder="아이템 에셋 이미지명을 입력하세요.">
    </div>
    <input type="checkbox" name="multi_buy" id="InputMultibuy" value="true"> <label for="InputMultibuy">중복 구매 가능</label>

    <br><button type="submit" class="btn btn-primary">생성</button>
</form>
</body>
</html>