<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="/js/bootstrap/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <script>
        if(<%=session.isClient%>) {
            require('electron').remote.getGlobal('globalVars').RichPresence = {
                details: `<%=profile_user.nickname%>의 프로필을 보는 중`,
                startTimestamp: Date.now(),
                largeImageKey: 'main',
                instance: true
            }
        }

        window.onload = () => {
            $("[data-toggle=popover]").popover();
        }
    </script>
    <script>if (window.module) module = window.module;</script>
    <title><%=servername%> - 프로필</title>
</head>

<body>
<h1>창작마당</h1>
<%-include('./layout/menu')%>
<%-include('./layout/info')%>

<img src="<%=profile_image%>" width="100" height="100">
<h3>이름 : <%=profile_user.nickname%> <%if(profile_user.verified) {%><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle-fill text-secondary" fill="currentColor" xmlns="http://www.w3.org/2000/svg" data-container="body" data-toggle="popover" data-placement="top" data-content="인증된 유저" data-trigger="hover">
        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </svg><%}%></h3>

<h4>나의 채보</h4>
<%notes.forEach(note => {%>
<h5><a href="/workshop/note?name=<%=encodeURI(note.name)%>"><%=note.originalname%></a></h5>
<%});%>
</body>
</html>