<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="/js/bootstrap/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <script>
        if(<%=session.isClient || false%>) {
            require('electron').remote.getGlobal('globalVars').RichPresence = {
                details: '구매내역 보는 중',
                startTimestamp: Date.now(),
                largeImageKey: 'main',
                instance: true
            }
        }
    </script>
    <script src="/js/shop.js"></script>
    <link rel="stylesheet" href="/css/shop.css">
    <script>if (window.module) module = window.module;</script>
    <title><%=servername%> - 구매내역</title>
</head>

<body>
<h1>구매내역</h1>
<%-include('./layout/menu')%>
<%-include('./layout/info')%>

<%inventory.forEach(item => {%>
    <div class="item" data-productid="<%=item.product_id%>">
        <h3><%=item.title%></h3>
        <h4><%=item.price%>원 (현재 가격)</h4>
        <h4>구매 일시 : <%=new Date(item.createdAt).toLocaleDateString()%> <%=new Date(item.createdAt).toLocaleTimeString()%></h4>
    </div>
<%});%>
</body>
</html>